@import url(http://fonts.googleapis.com/css?family=Pacifico|Indie+Flower|Open+Sans);
/*
		font-family: 'Pacifico', cursive;
		font-family: 'Indie Flower', cursive;
		font-family: 'Open Sans', sans-serif;
*/
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* line 18, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  padding: .5em;
}

/* line 22, ../sass/main.scss */
h1 {
  font-size: 2em;
  border-bottom: 1px solid black;
}

/* line 27, ../sass/main.scss */
h2 {
  font-size: 1.5em;
}

/* line 31, ../sass/main.scss */
p {
  padding: .5em;
}

/* line 35, ../sass/main.scss */
.page-header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

/* line 41, ../sass/main.scss */
.fs-panel {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 46, ../sass/main.scss */
.fs-panel > div, .fs-panel > section {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 53, ../sass/main.scss */
.fs-panel.fs-modal {
  background: rgba(0, 0, 0, 0.5);
}
/* line 56, ../sass/main.scss */
.fs-panel.fs-modal > div, .fs-panel.fs-modal > section {
  z-index: 99;
}

/* line 62, ../sass/main.scss */
#app-container {
  overflow: hidden;
}

/* line 66, ../sass/main.scss */
.continue {
  background: rgba(1, 1, 1, 0.5);
  margin-top: 1em;
  color: #f5f5f5;
}
/* line 70, ../sass/main.scss */
.continue:hover, .continue:focus {
  background: rgba(1, 1, 1, 0.3);
  color: #f5f5f5;
}

/* line 76, ../sass/main.scss */
.bg-parallax {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}

/* line 83, ../sass/main.scss */
.light {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em 0;
}
/* line 87, ../sass/main.scss */
.light h1 {
  border-color: whitesmoke;
}

/* line 93, ../sass/main.scss */
#panel-0 {
  background-image: url(../images/panel-0.jpg);
}

/* line 93, ../sass/main.scss */
#panel-1 {
  background-image: url(../images/panel-1.jpg);
}

/* line 93, ../sass/main.scss */
#panel-2 {
  background-image: url(../images/panel-2.jpg);
}

/* line 93, ../sass/main.scss */
#panel-3 {
  background-image: url(../images/panel-3.jpg);
}
